@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 170px;
}

.huddle {
  width: 96px;
}

.header-button {
  border-radius: 40px;
  padding: 6px 18px;
  background-color: white;
  border: 0.59px solid #ff52c1;
  color: #ff52c1;
  font-size: 9px;
  font-family: Open Sans;
  cursor: pointer;
}

.main-header {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #00252e;
}

.header-paragraph-style {
  width: 296px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #00252e;
}

.button-one-style {
  padding: 11px 39px;
  border-radius: 35px;
  background: #ff52c1;
  border: none;
  color: white;
  cursor: pointer;
}

.statistics-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 53px;
}

.statistics-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.communities-messages-style {
  width: 35px;
  margin-left: -96px;
}

.communities-messages-span {
  font-family: Open Sans;
  font-size: 15.24px;
  font-weight: 400;
  line-height: 22.86px;
  text-align: center;
  color: #808e9a;
}

.box-one-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grow-together-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6fbff;
  padding: 27px;
  gap: 25px;
}

.box-header {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #00252e;
}

.images-tables-style {
  width: 260px;
}
.images-style {
  width: 260px;
}

.bg-section-top-mobile-1 {
  display: block;
}

.bg-section-top-desktop-1 {
  display: none;
}

.paragraph-style {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #00252e;
  width: 320px;
}

.box-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.box-two-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.box-three-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.your-users-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6fbff;
  padding: 27px;
  gap: 25px;
}

.ready-button-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.ready-style {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #00252e;
}

.footer-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-four-style {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: white;
  background-color: #00252e;
  transform: translateY(-2px);
  padding: 28px;
  gap: 14px;
}

.footer-paragraph-style {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: white;
  width: 320px;
}

.subscribe-button {
  padding: 12px 41px;
  background: #ff52c1;
  border: none;
  color: white;
  margin-left: 175px;
  cursor: pointer;
}
#email-address {
  width: 320px;
  padding: 11px;
  border-radius: 4px;
}

.info-style {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 53px;
}

.phone-style {
  display: flex;
  gap: 15px;
}

.mail-style {
  display: flex;
  gap: 15px;
}

.social-media {
  display: flex;
}

.instagram-style {
  margin-top: 46px;
}

#error-message {
  display: none;
  color: #ff4343;
  font-size: 12px;
}

@media (min-width: 1024px) {
  .main-header {
    font-size: 48px;
  }
  .header {
    gap: 912px;
  }

  .header-button {
    padding: 9px 30px;
  }
  .header-paragraph-style {
    width: 600px;
    font-size: 20px;
  }
  .huddle {
    width: 240px;
  }

  .button-one-style {
    padding: 25px 99px;
  }

  .images-tables-style {
    width: 1000px;
  }

  .statistics-style {
    flex-direction: row;
    gap: 341px;
  }
  .images-style {
    width: 517px;
  }

  .bg-section-top-mobile-1 {
    display: none;
  }

  .bg-section-top-desktop-1 {
    display: block;
  }

  .box-header {
    font-size: 40px;
  }

  .grow-together-style {
    flex-direction: row-reverse;
    gap: 240px;
    padding: 80px;
  }

  .paragraph-style {
    width: 520px;
  }

  .box-two-style {
    flex-direction: row;
  }

  .your-users-style {
    flex-direction: row-reverse;
    gap: 240px;
    padding: 80px;
  }

  .ready-style {
    font-size: 40px;
  }

  .box-four-style:hover .subscribe-one {
    background-color: #ff8ed7;
  }

  #error-message {
    display: none;
    color: #ff4343;
    font-size: 12px;
  }
}
